<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TEXT.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0C7DD68D1E1B738D004CA1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7DD6A61E1B738E004CA1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0C7DD6B11E1B738E004CA1A8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
